html{
    background-image: url("ditto.png");
    background-repeat: repeat;
}

body{
    text-align: center;
    background-color: transparent;
}
body::before{
    content: "";
    background-color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.85;
    margin: 0vh 10vw;
}

.container{
    margin: auto;
    position: relative;
}

.window{
    border: 4px dashed #32a89d;
    border-radius: 10px;
    margin: 10vh 10vw;
}

.header{
    border-bottom: 2px #32a89d;
}

.newRoom,.joinRoom{
    margin: 4vh 1vw;
}

.controls,.leaderboard{
    margin: 3vh 2vw;
}

.controls button{
    margin: auto 4vw;
}

  .leaderboard
, .controls
, .hostcontrols
, .playercontrols
, #history
, #message{
    display: none;
}