/*TODO https://layout.bradwoods.io/customize 
https://grid.layoutit.com/
https://csslayout.io/
*/
html{
    /*background-image: url("ditto.png");*/
    background-repeat: repeat;
}

body{
    margin-top:3.5%;
    text-align: center;
    /*background-image: url("background.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center; */
}

/*  .newRoom
, #message {
    position: relative;
    padding-top:20vh;
}*/

.container{
    position: relative;
    width: 100%;
    height: 70vh;
}

.header{
    border-bottom: 2px #32a89d;
}

.newRoom,.joinRoom{
    margin: 4vh 1vw;
}
/*
.controls,.players{
    margin: 3vh 2vw;
}

.controls button{
    margin: auto 4vw;
}*/
#eraseMode {
    background-image: url('res/eraser-inactive.png');
    background-color: transparent;
    background-size: 97px 123px;
    width: 97px;
    height: 123px;
}
#eraseMode:hover {
    background-image: url('res/eraser-active.png');
}
#drawMode {
    background-image: url('res/pen-inactive.png');
    background-color: transparent;
    background-size: 97px 123px;
    width: 97px;
    height: 123px;
}
#drawMode:hover {
    background-image: url('res/pen-active.png');
}
#canvas {
    border:2px solid black;
    float:left;
}

button {
	border: none;
    padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
  .players
, .controls
, .hostControls
, .playerControls
, #history
, #message
, #record
, #describePokemonForm
, #choosePokemonForm
, #guessPokemonForm
, #revealPokemonButton
, #finishedDescribingButton
, .finishDrawing
, #finishDrawing
, #artGallery 
, #drawingControls 
{
    display: none;
}

/* ///////////////////////////////////////// css layout dealeos */

.layered-card {
    position: relative;
    border:2px solid black;
    background-color: white;
}

.layered-card::before {
    background: rgba(0, 0, 0, 0.3);
    content: '';

    /* Position */
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(1rem, 1rem);

    /* Size */
    height: 100%;
    width: 100%;

    /* Display under the main content */
    z-index: -1;
}

.drawingTools {
    display: flex;
    flex-direction: column;
    gap: 16px;
    float:right;
  }

#drawingControls {
    justify-content: center;
}