html{
    /*background-image: url("ditto.png");*/
    background-repeat: repeat;
}

body{
    text-align: center;
    /*background-image: url("background.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center; */
}

/*  .newRoom
, #message {
    position: relative;
    padding-top:20vh;
}*/

.container{
    position: relative;
    width: 100%;
    height: 70vh;
}

.header{
    border-bottom: 2px #32a89d;
}

.newRoom,.joinRoom{
    margin: 4vh 1vw;
}

.controls,.leaderboard{
    margin: 3vh 2vw;
}

.controls button{
    margin: auto 4vw;
}

  .leaderboard
, .controls
, .hostcontrols
, .playercontrols
, #history
, #message{
    display: none;
}